.PhotoCard_MainDiv{
    display : flex;
    justify-content: start;
    align-items: center;
    gap: 3%;
    margin-bottom: 2%;
    font-size: larger;
}

.PhotoCard_Photo{
    width: 20%;
}

.PhotoCard_LikeIcon{
    width: 25px;
    height : 25px
}